<!--Navigation bar-->
<nav class="navbar navbar-default headermain">
  <div class="container-fluid header-main">
    <div class="navbar-header col-md-12">
        <!--logo-->
        <div class="col-md-4">
            <div class="logo"><img src="img/logo1.png"></div>
        </div>
        <!--search bar-->
        <div class="col-md-4" id="search-bar">
             <form class="navbar-form" role="search">
             <div>
               <input type="text" id="search-input" onkeyup="myFunction()" class="form-control" placeholder="Search for people.." title="Type in a name">
             </div>
                <ul id="search-ul">
  					<li id="search-li"><a href=""><img src="img/user.jpg"> Adele</a></li>
  					<li id="search-li"><a href=""><img src="img/user.jpg"> Agnes</a></li>
  					<li id="search-li"><a href=""><img src="img/user.jpg"> Billy</a></li>
  					<li id="search-li"><a href=""><img src="img/user.jpg"> Bob</a></li>
  					<li id="search-li"><a href=""><img src="img/user.jpg"> Calvin</a></li>
  					<li id="search-li"><a href=""><img src="img/user.jpg"> Christina</a></li>
  					<li id="search-li"><a href=""><img src="img/user.jpg"> Cindy</a></li>
				</ul>
              
                
            </form>
        </div>
        <div class="col-md-4">
            <ul class="nav navbar-nav navbar-right">
                <!--Profile Indicator-->
				
				<li class="frnds">
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"><img src="img/user.jpg">Tom Cruise</button>
						<ul class="dropdown-menu frndreq-dropdown logoutdropdown">
							<li>
								<div class="frndreq-main"><a href="">Logout</a></div>                   
							</li>
						</ul>
                	</div>
				</li>
                <!--chat icon-->
				<li class="chat-icon">
					<i class="fa fa-comment fa-lg" aria-hidden="true" title="chat"></i>
				</li>
                <!--Friend Requests and Notifications-->
                <li class="frnds">
                <div class="dropdown">
                   <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe"></i>Notifications</button>
                    </button>
                    <ul class="dropdown-menu frndreq-dropdown">
                    <li>
                        <div class="frndreq-main">
                            <a href=""><img src="img/user.jpg"></a>
                            <div class="frndreq-name">
                                <h5><a href="">Tom Cruise</a></h5>
                                <div class="acceptreq">
                                <button class="btn btn-primary accept-btn">Accept Request</button>
                            </div>
                        </div>                  
                    </li>
                    <li>
                        <div class="frndreq-main">
                            <a href=""><img src="img/user.jpg"></a>
                            <div class="frndreq-name">
                                <h5><a href="">Tom Cruise</a></h5>
                                <div class="acceptreq">
                                <button class="btn btn-primary accept-btn">Accept Request</button>
                            </div>
                        </div>                  
                    </li>
                    <li>
                        <div class="frndreq-main">
                            <a href=""><img src="img/user.jpg"></a>
                            <div class="frndreq-name">
                                <h5><a href="">Tom Cruise</a></h5>
                                <div class="acceptreq">
                                <button class="btn btn-primary accept-btn">Accept Request</button>
                            </div>
                        </div>                  
                    </li>
                    
                    </ul>
                </div>

            </li>
					
                			
			</ul>
        </div>
    </div>
    
  </div>
</nav>
  
<div class="container-fluid profile-head-main">
     <div class="container body-main col-md-12">
            <div class="col-md-4">
                <div class="profile-nav">

            <div class="panel">

                <div class="user-heading round">

                    <form action="uploadprofilepic" method="POST">
                        <div class="uploadpic-main">
                                <img src="img/user.jpg" class="avatar img-circle" alt="avatar">
                                <h6>Upload a different photo...</h6>
                                <input type="file" class="form-control">
                                <input type="button" class="btn btn-primary profilepicsave" value="Save Changes">
                            </div>
                    </form>

                    <h1>Tom Cruise</h1>

                    <p>tomcruise@gmail.com</p>

                </div>



                <ul class="nav nav-pills nav-stacked">

                    <li><a href=""> <i class="fa fa-user"></i> Profile</a></li>

                    <li><a href=""> <i class="fa fa-info-circle"></i> About</a></li>

                    <li><a href=""> <i class="fa fa-users"></i> Friends</a></li>

                    <li><a href=""> <i class="fa fa-file-image-o"></i> Photos</a></li>

                    <li class="active"><a href=""> <i class="fa fa-edit"></i> Edit profile</a></li>

                </ul>

            </div>

          </div>      											 			      
			</div>
            <div class="col-md-6 col-sm-12">
                <div class="profile-info">

           <!-- update info -->

                <div class="panel panel-info post animated fadeInUp">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit info</h3>
                    </div>            
                    <div class="panel-body editform-main">
                        <div class="form-group">
                        <label class="col-md-3 control-label">First name</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text">
                        </div>
                        </div>
                        <div class="form-group">
                        <label class="col-md-3 control-label">Last name</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text">
                        </div>
                        </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label">Email</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label">Description</label>
                        <div class="col-md-8">
                            <textarea class="form-control" type="text"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Mobile</label>
                        <div class="col-md-8">
                            <input class="form-control" type="tel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Date of birth</label>
                        <div class="col-md-8">
                            <input class="form-control" type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Hobbies</label>
                        <div class="col-md-8">
                            <textarea class="form-control" type="text"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Save Changes</button>
                    </div>
                    </div>
                </div><!-- end update info-->

           <!-- update info -->

            <div class="panel panel-info post panel-shadow editform-main">

              <div class="panel-heading">

                <h3 class="panel-title">Change password</h3>

              </div>            

              <div class="panel-body">
                <div class="form-group">

                  <label class="col-md-4 control-label">Current password</label>

                  <div class="col-md-7">

                    <input class="form-control" type="text" value="">

                  </div>

                </div>

                <div class="form-group">

                  <label class="col-md-4 control-label">New password</label>

                  <div class="col-md-7">

                    <input class="form-control" type="text" value="">

                  </div>

                </div>

                <div class="form-group">

                  <label class="col-md-4 control-label">Confirm password</label>

                  <div class="col-md-7">

                    <input class="form-control" type="text" value="">

                  </div>

                </div>

                <div class="form-group">

                  <button type="submit" class="btn btn-info">Save Changes</button>

                </div>                

              </div>

            </div><!-- end update info-->

          </div>
            </div>
			<div class="col-md-2"></div>
            <!--Chat list-->
			<div class="chat-sidebar">
                <div><h4>Chat</h4></div>
				<div class="sidebar-name">
				<!-- Pass username and display name to register popup -->
					<a href="javascript:register_popup(&#39;Tom-Cruise&#39;, &#39;Tom-Cruise&#39;);">
						<img width="30" height="30" src="img/user.jpg">
						<span>Tom Cruise</span>
					</a>
				</div>
				<div class="sidebar-name">
				<a href="javascript:register_popup(&#39;qnimate&#39;, &#39;QNimate&#39;);">
					<img width="30" height="30" src="img/user.jpg">
					<span>QNimate</span>
				</a>
			</div>
			<div class="sidebar-name">
				<a href="javascript:register_popup(&#39;qscutter&#39;, &#39;QScutter&#39;);">
					<img width="30" height="30" src="img/user.jpg">
					<span>QScutter</span>
				</a>
			</div>
			<div class="sidebar-name">
				<a href="javascript:register_popup(&#39;qidea&#39;, &#39;QIdea&#39;);">
					<img width="30" height="30" src="img/user.jpg">
					<span>QIdea</span>
				</a>
			</div>
			<div class="sidebar-name">
				<a href="javascript:register_popup(&#39;qazy&#39;, &#39;QAzy&#39;);">
					<img width="30" height="30" src="img/user.jpg">
					<span>QAzy</span>
				</a>
			</div>
	
				
			</div>
    </div>

</div>


<script>
$(document).ready(function(e) {
$(".chat-icon").click(function(){
        $(".chat-sidebar").slideToggle("slow");
}); 
});
</script>