<!--Navigation bar-->
<nav class="navbar navbar-default headermain">
  <div class="container-fluid header-main">
    <div class="navbar-header col-md-12">
		<!--logo-->
        <div class="col-md-4">
            <div class="logo"><img src="img/logo1.png"></div>
        </div>
		<!--search bar-->
        <div class="col-md-4" id="search-bar">
             <form class="navbar-form" role="search">
             <div>
              <!--  <input type="text" id="search-input" onkeyup="myFunction()" class="form-control" placeholder="Search for people.." title="Type in a name"> -->
             </div>
                <ul id="search-ul">
  					<li id="search-li"><a href="">Adele</a></li>
  					<li id="search-li"><a href="">Agnes</a></li>
  					<li id="search-li"><a href="">Billy</a></li>
  					<li id="search-li"><a href="">Bob</a></li>
  					<li id="search-li"><a href="">Calvin</a></li>
  					<li id="search-li"><a href="">Christina</a></li>
  					<li id="search-li"><a href="">Cindy</a></li>
				</ul>
              
                
            </form>
        </div>
        <div class="col-md-4">
            <ul class="nav navbar-nav navbar-right">
				<!--Profile Indicator-->
				
				<li class="frnds">
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"><img src="img/user.jpg">Tom Cruise</button>
						<ul class="dropdown-menu frndreq-dropdown logoutdropdown">
							<li>
								<div class="frndreq-main"><button ng-click="logOut()">Logout</button></div>                   
							</li>
						</ul>
                	</div>
				</li>
                <!--chat icon-->
				<li class="chat-icon">
					<i class="fa fa-comment fa-lg" aria-hidden="true" title="chat"></i>
				</li>
				<!--Friend Requests and Notifications-->
				<li class="frnds">
					<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe"></i>Notifications</button>
						</button>
						<ul class="dropdown-menu frndreq-dropdown">
						<li>
							<div class="frndreq-main">
								<a href=""><img src="img/user.jpg"></a>
								<div class="frndreq-name">
									<h5><a href="">Tom Cruise</a></h5>
									<div class="acceptreq">
										<button class="btn btn-primary accept-btn">Accept Request</button>
									</div>
								</div>
							</div>                   
						</li>
						<li>
							<div class="frndreq-main">
								<a href=""><img src="img/user.jpg"></a>
								<div class="frndreq-name">
									<h5><a href="">Tom Cruise</a></h5>
									<div class="acceptreq">
										<button class="btn btn-primary accept-btn">Accept Request</button>
									</div>
								</div>
							</div>                   
						</li>
						<li>
							<div class="frndreq-main">
								<a href=""><img src="img/user.jpg"></a>
								<div class="frndreq-name">
									<h5><a href="">Tom Cruise</a></h5>
									<div class="acceptreq">
										<button class="btn btn-primary accept-btn">Accept Request</button>
									</div>
								</div>
							</div>                  
						</li>
						
						</ul>
                	</div>
				</li>				
			</ul>
        </div>
    </div>
    
  </div>
</nav>
  <!--Profile-->
<div class="container-fluid profile-head-main">
    <div class="profile-head col-md-12"> 
        <div class="col-md-4"></div>
		<!--Profile Picture and Profile Name-->
        <div class="col-md-4 profile-main">
            <div class="profile-img">
                <img src="img/user.jpg">
            </div>
            <div class="user-name">
                <h1>{{findFriend.firstName}}</h1>
            </div>
            <div class="user-desc">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="addfrndbtn">
                <button class="btn btn-primary accept-btn" ng-click="sendRequest()">Add Friend</button>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
     <div class="container body-main col-md-12">
            <div class="col-md-4">
                <div class="profile-nav">
                    <div class="panel">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href=""> <i class="fa fa-user"></i> Profile</a></li>
                            <li><a href=""> <i class="fa fa-info-circle"></i> About</a></li>
                            <li><a href=""> <i class="fa fa-users"></i> Friends</a></li>
                            <li><a href=""> <i class="fa fa-file-image-o"></i> Photos</a></li>
                            <li><a href=""> <i class="fa fa-edit"></i> Edit profile</a></li>
                        </ul>
                    </div>
                </div>        											 			      
			</div>
            <div class="col-md-6 col-sm-12">
                <div class="profile-info animated fadeInRight">
			      <div class="row text-center cover-container col-md-22 hidden">
                	<a href=""><img src="img/user.jpg">	</a>
                    <h1 class="profile-name">Hillary McBrewk</h1>
                    <p class="user-text">sharing awesome ideas with your friends, you can grow, grow fast</p>
                </div>

				<!--Post Section-->
				<div class="panel">
				  <form>
				      <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area post-textarea"></textarea>
				  </form>
				  <div class="panel-footer">
				      <button class="btn btn-info pull-right post-btn">Post</button>
				      <ul class="nav nav-pills">
				          <li><a href=""><i class="fa fa-map-marker"></i></a></li>
				          <li><a href=""><i class="fa fa-camera"></i></a></li>
				          <li><a href=""><i class=" fa fa-film"></i></a></li>
				          <li><a href=""><i class="fa fa-microphone"></i></a></li>
				      </ul>
				  </div>
				</div>

		        <!-- first post-->

				<div class="panel panel-white post panel-shadow">
				  <div class="post-heading">
				      <div class="pull-left image">
				          <img src="img/user.jpg" class="avatar" alt="user profile image">
				      </div>
				      <div class="pull-left meta">
				          <div class="title h5">
				              <a href="" class="post-user-name">Hillary McBrewk</a>
				              uploaded a photo.
				          </div>
				          <h6 class="text-muted time">5 seconds ago</h6>
				      </div>
				  </div>
				  <div class="post-image">
				      <img src="img/post1.png" class="image show-in-modal" alt="image post">
				  </div>
				  <div class="post-description">
				      <p>This is a short description</p>
				      <div class="stats">
				          <a href="" class="stat-item">
				              <i class="fa fa-thumbs-up icon"></i>228
				          </a>
				          <a href="" class="stat-item">
				              <i class="fa fa-retweet icon"></i>128
				          </a>
				          <a href="" class="stat-item">
				              <i class="fa fa-comments-o icon"></i>3
				          </a>
				      </div>
				  </div>

				  <div class="post-footer">
				      <input class="form-control add-comment-input" placeholder="Add a comment..." type="text">
				      <ul class="comments-list">
				          <li class="comment">
				              <a class="pull-left" href="">
				                  <img class="avatar" src="img/user.jpg" alt="avatar">
				              </a>
				              <div class="comment-body">
				                  <div class="comment-heading">
				                      <h4 class="comment-user-name"><a href="">Antony andrew lobghi</a></h4>
				                      <h5 class="time">7 minutes ago</h5>
				                  </div>
				                  <p>This is a comment bla bla bla</p>
				              </div>
				          </li>
				          <li class="comment">
				              <a class="pull-left" href="">
				                  <img class="avatar" src="img/user.jpg" alt="avatar">
				              </a>
				              <div class="comment-body">
				                  <div class="comment-heading">
				                      <h4 class="comment-user-name"><a href="">Jeferh Smith</a></h4>
				                      <h5 class="time">3 minutes ago</h5>
				                  </div>
				                  <p>This is another comment bla bla bla</p>
				              </div>
				          </li>
				          <li class="comment">
				              <a class="pull-left" href="">
				                  <img class="avatar" src="img/user.jpg" alt="avatar">
				              </a>
				              <div class="comment-body">
				                  <div class="comment-heading">
				                      <h4 class="comment-user-name"><a href="">Maria fernanda coronel</a></h4>
				                      <h5 class="time">10 seconds ago</h5>
				                  </div>
				                  <p>Wow! so cool my friend</p>
				              </div>
				          </li>
				      </ul>
				  </div>

				</div><!-- first post-->

			  </div>
            </div>
			<div class="col-md-2"></div>
			<!--Chat list-->
			<div class="chat-sidebar">
				<div><h4>Chat</h4></div>
				<div class="sidebar-name">
				<!-- Pass username and display name to register popup -->
					<a href="javascript:register_popup(&#39;Tom-Cruise&#39;, &#39;Tom-Cruise&#39;);">
						<img width="30" height="30" src="img/user.jpg">
						<span>Tom Cruise</span>
					</a>
				</div>
				<div class="sidebar-name">
				<a href="javascript:register_popup(&#39;qnimate&#39;, &#39;QNimate&#39;);">
					<img width="30" height="30" src="img/user.jpg">
					<span>QNimate</span>
				</a>
			</div>
			<div class="sidebar-name">
				<a href="javascript:register_popup(&#39;qscutter&#39;, &#39;QScutter&#39;);">
					<img width="30" height="30" src="img/user.jpg">
					<span>QScutter</span>
				</a>
			</div>
			<div class="sidebar-name">
				<a href="javascript:register_popup(&#39;qidea&#39;, &#39;QIdea&#39;);">
					<img width="30" height="30" src="img/user.jpg">
					<span>QIdea</span>
				</a>
			</div>
			<div class="sidebar-name">
				<a href="javascript:register_popup(&#39;qazy&#39;, &#39;QAzy&#39;);">
					<img width="30" height="30" src="img/user.jpg">
					<span>QAzy</span>
				</a>
			</div>
				
			</div>
    </div>

</div>

<script>
$(document).ready(function(e) {
$(".chat-icon").click(function(){
        $(".chat-sidebar").slideToggle("slow");
}); 
});
</script>